In [2]:
import os
import torch
from torch import nn
import librosa
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import tensorflow as tf 

%matplotlib inline

In [3]:
audio_directory = './data/recordings/recordings/'
data_list = []

In [4]:
# load the csv data
data_csv = pd.read_csv('./data/speakers_all.csv')
data_csv.head()

,age,age_onset,birthplace,filename,native_language,sex,speakerid,country,file_missing?,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,24.0,12.0,"koussi, senegal",balanta,balanta,male,788,senegal,True,NaN,NaN,NaN
1,18.0,10.0,"buea, cameroon",cameroon,cameroon,male,1953,cameroon,True,NaN,NaN,NaN
2,48.0,8.0,"hong, adamawa, nigeria",fulfulde,fulfulde,male,1037,nigeria,True,NaN,NaN,NaN
3,42.0,42.0,"port-au-prince, haiti",haitian,haitian,male,1165,haiti,True,NaN,NaN,NaN
4,40.0,35.0,"port-au-prince, haiti",haitian,haitian,male,1166,haiti,True,NaN,NaN,NaN

In [5]:
for index, row in data_csv.iterrows():
    filename = row['filename']
    file_path = os.path.join(audio_directory, f'{filename}.mp3')  # Specify the directory path where your files are located
    # print(f"file path {file_path}")
    try:
        with open(file_path, 'r', encoding='utf-8') as file:
            # file_data = file.read()
            data_list.append({
                'age': row['age'],
                'age_onset': row['age_onset'],
                'birthplace': row['birthplace'],
                'filename': filename,
                'native_language': row['native_language'],
                'sex': row['sex'], 
                'speakerid': row['speakerid'],
                'country': row['country'],
                'file_missing?': row['file_missing?'],
                'file_data': file_path
            })
    except FileNotFoundError:
        print(f"File not found for row {index}: {filename}")

File not found for row 0: balanta
File not found for row 1: cameroon
File not found for row 2: fulfulde
File not found for row 3: haitian
File not found for row 4: haitian
File not found for row 5: haitian
File not found for row 6: haitian
File not found for row 7: haitian
File not found for row 8: haitian
File not found for row 9: hawai'i
File not found for row 10: hawai'i
File not found for row 11: jamaican
File not found for row 12: jamaican
File not found for row 13: jamaican
File not found for row 14: liberian
File not found for row 15: liberian
File not found for row 16: nicaragua
File not found for row 17: nicaragua
File not found for row 18: nicaragua
File not found for row 19: northern
File not found for row 20: poonchi1
File not found for row 21: sinhalese2
File not found for row 22: sinhalese3
File not found for row 23: sinhalese4
File not found for row 24: sinhalese5
File not found for row 25: swiss
File not found for row 26: swiss
File not found for row 27: swiss
File not found for row 28: swiss
File not found for row 29: swiss
File not found for row 30: tetun-dili1
File not found for row 31: tok
File not found for row 1544: nicaragua
File not found for row 1771: sinhalese1

In [6]:
dataframe = pd.DataFrame(data_list)
dataframe.head()

,age,age_onset,birthplace,filename,native_language,sex,speakerid,country,file_missing?,file_data
0,27.0,9.0,"virginia, south africa",afrikaans1,afrikaans,female,1,south africa,False,./data/recordings/recordings/afrikaans1.mp3
1,40.0,5.0,"pretoria, south africa",afrikaans2,afrikaans,male,2,south africa,False,./data/recordings/recordings/afrikaans2.mp3
2,43.0,4.0,"pretoria, transvaal, south africa",afrikaans3,afrikaans,male,418,south africa,False,./data/recordings/recordings/afrikaans3.mp3
3,26.0,8.0,"pretoria, south africa",afrikaans4,afrikaans,male,1159,south africa,False,./data/recordings/recordings/afrikaans4.mp3
4,19.0,6.0,"cape town, south africa",afrikaans5,afrikaans,male,1432,south africa,False,./data/recordings/recordings/afrikaans5.mp3